<form action="/form/create" method="post">
    <h2> Создать данные </h2>
    <fieldset>
        <legend>Персональные данные</legend>
        <ul>
            <li>
                <label for="name">Имя:*</label>
                <input type="text" name="name" placeholder="Иван Иванов" id="name" required>
            </li>
            <li>
                <label for="age">Возраст:</label>
                <input type="number" name="age" placeholder="27" id="age" min="0" max="125">
            </li>
            <li>
                <label for="password">Password:*</label>
                <input type="text" name="password" id="password" placeholder="qwerty" minlength="5" required>
            </li>
        </ul>
    </fieldset>
    <div>
        <button type="submit"><%= button%></button>
        <p>* — Обязательные поля</p>
    </div>
    <% if (message) { %>
        <h1><%= message %></h1>
    <% } %>
</form>