<form action="/form/<%= method %>" method="post">
    <h2><%= title %></h2>
    <fieldset>
        <legend>Персональные данные</legend>
        <ul>
            <li>
                <label for="name">Имя:*</label>
                <input type="text" name="name" placeholder="Иван Иванов" id="name" required>
            </li>
            <li>
                <label for="password">Password:*</label>
                <input type="password" name="password" id="password" placeholder="qwerty" minlength="5" required>
            </li>
        </ul>
    </fieldset>
    <div>
        <button type="submit"><%= button %></button>
        <p>* — Обязательные поля</p>
    </div>
    <% if (message) { %>
        <h1><%= message %></h1>
    <% } %>
</form>
