<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<ul>
    <li>Name: <%= user.name %></li>
    <li>Age: <%= user.age %></li>
    <li>Password: <%= password %></li>
</ul>
</body>
</html>